@model TODO_List.Models.ToDoItem

@{
    ViewBag.Title = "Smazat úkol";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>@ViewBag.Title</h1>

        <h3>Opravdu chcete smazat tento úkol?</h3>
        <div>
            <p>
                <strong>ID:</strong> @Model.Id<br />
                <strong>Název:</strong> @Model.Title<br />
                <strong>Datum splnění:</strong> @Model.DueDate.ToShortDateString()<br />
            </p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <input type="submit" value="Smazat" class="btn btn-danger" /> |
                    @Html.ActionLink("Zrušit", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
