@{
    ViewBag.Title = "ToDo";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Zde můžete přidat vlastní CSS styly */
    </style>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
    @model IEnumerable<TODO_List.Models.ToDoItem>

    <h2>Seznam úkolů</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Popis</th>
            <th>Priorita</th>
            <th>Datum splnění</th>
            <th>Je splněno</th>
            <th>Akce</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Priority</td>
                <td>@item.DueDate.ToShortDateString()</td>
                <td>@item.IsDone</td>
                <td>
                    <!-- Tlačítko pro detaily -->
                    @Html.ActionLink("Detaily", "Details", new { id = item.Id }, new { @class = "btn btn-info" })

                    <!-- Tlačítko pro editaci -->
                    @Html.ActionLink("Editovat", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })

                    <!-- Tlačítko pro mazání -->
                    @Html.ActionLink("Smazat", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>

    @Html.ActionLink("Přidat nový úkol", "Create", null, new { @class = "btn btn-success" })



    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        // Zde můžete přidat JavaScript pro dynamické funkce
    </script>
</body>
</html>
